body{
padding: 3%;
}
header h1 {
    color: rgb(31, 23, 30);
    margin-left: 3rem;
    background-color: white;
}

header {
    background-color: white;
    color: white;
    padding: 1rem 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
    margin-top: -5%;

}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    border-top: solid black;
    border-bottom: solid black;
    
} 
main{
    margin: 100px;
}
.images img {

    width: 30%;
    height: auto;
    border-radius: 50%;
    float: right;
    margin-bottom: 8%;
}

.myImg {
    margin-top: -15%;
}

.images {
    margin-right: 50px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    text-decoration: none;
    color: gray;
    /* Default color */
    font-size: 2rem;
    /* Size of the icons */
}

.social-icons a:hover {
    color: #0077b5;
    /* Change color on hover */
}

.hero p {
    text-align: justify;
}